CIMOW/IMOW XSD v0.98-kern/IMOW/regels/v20190901/IMOW_Regel_v0_9_8_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:r="http://www.geostandaarden.nl/imow/regels/v20190901" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:imvert="http://www.imvertor.org/schema/system" xmlns:da="http://www.geostandaarden.nl/imow/datatypenalgemeen/v20190709" xmlns:l-ref="http://www.geostandaarden.nl/imow/locatie-ref/v20190901" xmlns:r-ref="http://www.geostandaarden.nl/imow/regels-ref/v20190901" xmlns:rol-ref="http://www.geostandaarden.nl/imow/regelsoplocatie-ref/v20190709" xmlns:ga-ref="http://www.geostandaarden.nl/imow/gebiedsaanwijzing-ref/v20190709" xmlns:ow="http://www.geostandaarden.nl/imow/owobject/v20190709" xmlns:op="http://www.geostandaarden.nl/imow/opobject/v20190901" targetNamespace="http://www.geostandaarden.nl/imow/regels/v20190901" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.9.8.2-2">
	<xs:annotation>
		<xs:appinfo source="http://www.imvertor.org/schema-info/uri">http://www.geostandaarden.nl/imow/regels</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/version">0.9.8.2</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/phase">2</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/release">20190901</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/generated">2019-09-04T14:04:16Z</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/generator">1.53.4 - EVALUATION VERSION, PLEASE REGISTER!</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/owner">Geonovum</xs:appinfo>
		<xs:documentation source="http://www.imvertor.org/schema-info/file-location">IMOW/regels/v20190901/IMOW_Regel_v0_9_8_2.xsd</xs:documentation>
		<xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
		<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Juridische regels in het domein van de omgevingswet t.b.v. digitaal stelsel omgevingswet. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.geostandaarden.nl/imow/datatypenalgemeen/v20190709" schemaLocation="../../../IMOW/datatypenalgemeen/v20190709/IMOW_DatatypenAlgemeen_v0_9_8.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/locatie-ref/v20190901" schemaLocation="../../../IMOW/locatie-ref/v20190901/IMOW_LocatieRef_v0_9_8_2.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/regels-ref/v20190901" schemaLocation="../../../IMOW/regels-ref/v20190901/IMOW_RegelRef_v0_9_8_2.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/regelsoplocatie-ref/v20190709" schemaLocation="../../../IMOW/regelsoplocatie-ref/v20190709/IMOW_RegelsOpLocatieRef_v0_9_8.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/gebiedsaanwijzing-ref/v20190709" schemaLocation="../../../IMOW/gebiedsaanwijzing-ref/v20190709/IMOW_GebiedsAanwijzingRef_v0_9_8.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/owobject/v20190709" schemaLocation="../../../IMOW/owobject/v20190709/IMOW_OWobject_v0_9_8.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/opobject/v20190901" schemaLocation="../../../IMOW/opobject/v20190901/IMOW_OPobject_v0_9_8_2.xsd"/>
	<xs:element name="JuridischeRegel" type="r:JuridischeRegel" abstract="true">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De beschrijving van een regel met juridische werkingskracht. Een regel betreft binnen de Omgevingswet veelal activiteiten, en/of normen en/of functies en/of beperkingengebieden.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="JuridischeRegel" abstract="true">
		<xs:complexContent>
			<xs:extension base="ow:OWobject">
				<xs:sequence>
					<xs:element name="idealisatie" type="r:Idealisatie" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Vastlegging van de manier de begrenzing van Locatie voor deze Juridische regel geïnterpreteerd moet worden en door het bevoegd gezag bedoeld is.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="thema" type="r:Thema" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Kernachtige weergave van de grondgedachte achter een regel. Een thema kent geen locatie.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="locatieaanduiding" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De locatieaanduiding begrenst de juridische werking van de regel in juridische zin, te weten dat de regel alleen binnen dit werkingsgebied werkingskracht heeft. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element ref="l-ref:LocatieRef"/>
								<xs:element ref="l-ref:GebiedRef"/>
								<xs:element ref="l-ref:GebiedengroepRef"/>
								<xs:element ref="l-ref:PuntRef"/>
								<xs:element ref="l-ref:PuntengroepRef"/>
								<xs:element ref="l-ref:LijnengroepRef"/>
								<xs:element ref="l-ref:LijnRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="artikelOfLid" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Artikel of lid is waar de Juridische regel onderdeel van is.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="1">
								<xs:element ref="r-ref:RegeltekstRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Omgevingswaarderegel" type="r:Omgevingswaarderegel" abstract="false"/>
	<xs:complexType name="Omgevingswaarderegel" abstract="false">
		<xs:complexContent>
			<xs:extension base="r:JuridischeRegel">
				<xs:sequence>
					<xs:element name="omgevingswaardeaanduiding" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Bij een regel die een omgevingsnorm of omgevingswaarde vastlegt geeft deze relatie aan om welke norm het gaat. De bijbehorende locatie(s) waar het om gaat is/zijn bij de normwaardes van de norm zelf te vinden.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element ref="rol-ref:OmgevingswaardeRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="RegelVoorIedereen" type="r:RegelVoorIedereen" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De naam van de kwalificatie van de Juridische regel over een activiteit.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RegelVoorIedereen" abstract="false">
		<xs:complexContent>
			<xs:extension base="r:JuridischeRegel">
				<xs:sequence>
					<xs:element name="activiteitregelkwalificatie" type="r:Activiteitregel" minOccurs="0" maxOccurs="1"/>
					<xs:element name="activiteitaanduiding" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Bij een regel die een activiteit vastlegt geeft deze relatie aan om welke activiteit het gaat. De bijbehorende locatie(s) waar het om gaat is/zijn bij de activiteit zelf te vinden.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element ref="rol-ref:ActiviteitRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="gebiedsaanwijzing" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Bij een regel die een gebiedsaanwijzing vastlegt geeft deze relatie aan om welk gebied en type gebied het gaat. De bijbehorende locatie(s) waar het om gaat is/zijn bij de gebiedsaanwijzing zelf te vinden.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element ref="ga-ref:GebiedsaanwijzingRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="omgevingsnormaanduiding" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element ref="rol-ref:OmgevingsnormRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Regeltekst" type="r:Regeltekst" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een Regeltekst is de kleinste zelfstandige eenheid van (een of meer) bij elkaar behorende juridische regels. Deze regels horen onlosmakelijk bij elkaar en hebben gezamenlijk één werkingsgebied.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Regeltekst" abstract="false">
		<xs:complexContent>
			<xs:extension base="op:OPobject">
				<xs:sequence>
					<xs:element name="identificatie" type="da:NEN3610ID" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De unieke identificatie waaronder elk object van dit type bekend is.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gerelateerdeRegeltekst" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Verwijzing dat aangeeft dat er een bijzondere relatie bestaat tussen twee Regelteksten.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element ref="r-ref:RegeltekstRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="id" type="xs:ID" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Instructieregel" type="r:Instructieregel" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De naam van het instrument waartoe de instructieregel zich richt.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Instructieregel" abstract="false">
		<xs:complexContent>
			<xs:extension base="r:JuridischeRegel">
				<xs:sequence>
					<xs:element name="instructieregelInstrument" type="r:InstructieregelInstrument" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="instructieregelTaakuitoefening" type="r:InstructieregelTaakuitoefening" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Het type bestuursorgaan dat of organisatie die de taak waarover de instructieregel gaat moet uitvoeren.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gebiedsaanwijzing" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element ref="ga-ref:GebiedsaanwijzingRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
					<xs:element name="omgevingsnormaanduiding" minOccurs="0" maxOccurs="1">
						<xs:complexType>
							<xs:choice minOccurs="1" maxOccurs="unbounded">
								<xs:element ref="rol-ref:OmgevingsnormRef"/>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Thema">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een limitatieve lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="InstructieregelInstrument">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="InstructieregelTaakuitoefening">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Idealisatie">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Activiteitregel">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Adressaat">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
</xs:schema>
