CIMOW/xsd 0.9.7.1/IMOW/regelsoplocatie/v20190301/IMOW_RegelsOpLocatie_v0_9_7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:rol="http://www.geostandaarden.nl/imow/regelsoplocatie/v20190301" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:imvert="http://www.imvertor.org/schema/system" xmlns:da="http://www.geostandaarden.nl/imow/datatypenalgemeen/v20190301" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:l-ref="http://www.geostandaarden.nl/imow/locatie-ref/v20190301" xmlns:rol-ref="http://www.geostandaarden.nl/imow/regelsoplocatie-ref/v20190301" xmlns:rkow="http://www.geostandaarden.nl/imow/regeltekstkoppelingow/v20190301" targetNamespace="http://www.geostandaarden.nl/imow/regelsoplocatie/v20190301" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.9.7-1">
	<xs:annotation>
		<xs:appinfo source="http://www.imvertor.org/schema-info/uri">http://www.geostandaarden.nl/imow/regelsoplocatie</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/version">0.9.7</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/phase">1</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/release">20190301</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/generated">2019-04-15T14:16:04Z</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/generator">1.52.4</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/owner">Kadaster</xs:appinfo>
		<xs:documentation source="http://www.imvertor.org/schema-info/file-location">IMOW/regelsoplocatie/v20190301/IMOW_RegelsOpLocatie_v0_9_7.xsd</xs:documentation>
		<xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.geostandaarden.nl/imow/datatypenalgemeen/v20190301" schemaLocation="../../../IMOW/datatypenalgemeen/v20190301/IMOW_DatatypenAlgemeen_v0_9_7.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../../gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/locatie-ref/v20190301" schemaLocation="../../../IMOW/locatie-ref/v20190301/IMOW_LocatieRef_v0_9.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/regelsoplocatie-ref/v20190301" schemaLocation="../../../IMOW/regelsoplocatie-ref/v20190301/IMOW_RegelsOpLocatieRef_v0_9.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/regeltekstkoppelingow/v20190301" schemaLocation="../../regeltekstkoppelingow/20190301/IMOW_RegeltekstkoppelingOW_v0_9_7.xsd"/>
	<xs:element name="Functie" type="rol:Functie" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een functie is het gebruiksdoel of de bijzondere eigenschap die een onderdeel van de fysieke leefomgeving op een bepaalde locatie heeft.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Functie" abstract="false">
		<xs:sequence>
			<xs:element name="identificatie" type="da:Identificatie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De unieke identificatie waaronder elk object van dit type bekend is. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="naam" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een (korte) omschrijving van de functie. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\S.*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="categorie" type="rol:Functiegroep" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een categorie, of groep, waaronder een functie regel valt. Een functie kan gecategoriseerd worden tot een beperkte lijst van functiegroepen. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geldtVoor" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Deze specifieke functie is toegedeeld aan deze specifieke locatie(s). </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="l-ref:LocatieRef"/>
						<xs:element ref="l-ref:GebiedRef"/>
						<xs:element ref="l-ref:LocatieGroepRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute ref="rkow:regeltekstId"/>
	</xs:complexType>
	<xs:element name="Norm" type="rol:Norm" abstract="true">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een omgevingswaarde of een omgevingsnorm, met een normatief karakter, die beschreven worden middels normwaarden. Een normwaarde kan kwalitatief of kwantitatief zijn.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Norm" abstract="true">
		<xs:sequence>
			<xs:element name="identificatie" type="da:Identificatie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De unieke identificatie waaronder elk object van dit type bekend is, zodat er naar een specifieke norm gerefereerd kan worden, gebruik makende van deze identificatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="normwaarde" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Één van de kwantitatieve of kwalitatieve waarden van een norm. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="rol:Normwaarde" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute ref="rkow:regeltekstId"/>
	</xs:complexType>
	<xs:element name="Normwaarde" type="rol:Normwaarde" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Één van de kwantitatieve of kwalitatieve waarden van een norm. De normwaarde geeft aan wat de specifieke kwantitatieve of kwalitatieve eisen zijn, inclusief de toewijzing ervan aan de specifieke locatie(s) waar de normwaarde voor geldt. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Normwaarde" abstract="false">
		<xs:sequence>
			<xs:element name="beschrijving" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De toewijzing van een normerende waarde aan een locatie in de vorm van een beschrijving in woorden. De beschrijving geeft tekstueel de betekenis weer van de normwaarde.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\S.*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="waarde" type="da:WaardeEenheid" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De numerieke waarde van een norm. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referentiepunt" type="rol:Referentiepunt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een geometrisch vastgelegd punt waarop aan (een bepaalde waarde van) de norm moet worden voldaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referentielijn" type="rol:Referentielijn" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een geometrisch vastgelegde lijn waarop aan (een bepaalde waarde van) de norm moet worden voldaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geldtVoor" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De specifieke locatie(s) waarvoor een specifieke normwaarde geldt.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="l-ref:LocatieRef"/>
						<xs:element ref="l-ref:GebiedRef"/>
						<xs:element ref="l-ref:LocatieGroepRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Omgevingsnorm" type="rol:Omgevingsnorm" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De in een meetbare waarde uit te drukken norm (anders dan een omgevingswaarde) die het bevoegd gezag op verschillende locaties verschillende waarden wil geven die het inzichtelijk wil weergeven.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Omgevingsnorm" abstract="false">
		<xs:complexContent>
			<xs:extension base="rol:Norm">
				<xs:sequence>
					<xs:element name="naam" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een (korte) naam van een omgevingsnorm</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\S.*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="categorie" type="rol:Omgevingsnormgroep" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een categorie, of groep, waaronder een omgevingsnorm valt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="geldigheid" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De periode waarin de norm van toepassing is. Deze wordt gebruikt om aan te geven dat de norm niet continu geldt, maar slechts geldt in een bepaalde periode. </xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\S.*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Omgevingswaarde" type="rol:Omgevingswaarde" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Norm die de gewenste staat of kwaliteit van (een onderdeel van) de fysieke leefomgeving, de toelaatbare belasting door activiteiten en/of de toelaatbare concentratie of depositie van stoffen als beleidsdoel vastlegt. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Omgevingswaarde" abstract="false">
		<xs:complexContent>
			<xs:extension base="rol:Norm">
				<xs:sequence>
					<xs:element name="naam" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een (korte) naam van een omgevingswaarde.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\S.*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="categorie" type="rol:Omgevingswaardegroep" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een categorie, of groep, waaronder een omgevingswaarde valt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="verplichting" type="rol:Verplichtingsoort" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De soort verplichting die door het vaststellen van de omgevingswaarde wordt opgelegd.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="termijn" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De termijn waarbinnen aan de verplichting moet zijn voldaan.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\S.*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Activiteit" type="rol:Activiteit" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een activiteit is ieder menselijk handelen waarbij, of ieder menselijk nalaten waardoor een verandering of effect in de fysieke leefomgeving wordt of kan worden bewerkstelligd.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Activiteit" abstract="false">
		<xs:sequence>
			<xs:element name="identificatie" type="da:Identificatie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De unieke identificatie waaronder elk object van dit type bekend is. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="naam" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een (korte) omschrijving van de activiteit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="categorie" type="rol:Activiteitengroep" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een categorie, of groep, waaronder een juridische regel valt. Een activiteit kan gecategoriseerd worden tot een beperkte lijst van activiteitengroepen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="is" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Met “is (een)” wordt een bepaalde activiteit rechtstreeks verbonden met een andere activiteit van **hetzelfde type **(van specifiek naar generiek). *****Toelichting: ** Met een activiteit van *hetzelfde type *wordt bedoeld dat andere regels (generieker) contextueel wel of niet relevant kunnen zijn.* Met contextueel relevant wordt bedoeld dat als in de regel staat dat een (generieke) activiteit van *dit type *een vergunningplicht geldt, onder bepaalde condities, dat deze condities worden vergeleken met de specifieke situatie van de (specifieke) activiteit die de initiatiefnemer voornemens is om te ontplooien. Als deze hieronder vallen, dan geldt voor de voorgenomen (*specifieke*) activiteit een vergunningplicht. In andere gevallen niet, althans niet vanuit deze regels, mogelijk wel vanuit andere regels.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element ref="rol-ref:ActiviteitRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="gerelateerd" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De regels die gelden voor de gerelateerde activiteit(en) zijn contextueel relevant voor deze activiteit.Toelichting: Met contextueel relevant wordt bedoeld dat de regels die gelden voor de gerelateerde activiteit, binnen die gegeven context ook gelden voor deze activiteit. Bijvoorbeeld omdat de ene activiteit altijd samen met de andere activiteit(en) worden uitgevoerd en de regels van beide daarmee allebei tegelijk aan de orde zijn. Als de beschreven context waarin de regels behorende bij de gerelateerde activiteit gelden niet aan de orde is, dan gelden de regels van de gerelateerde activiteit niet. Of de context aan de orde is, is niet opgenomen als informatie. Deze relatie geeft daarom, informatiekundig gezien, aan dat elke regel die geldt voor de gerelateerde activiteit relevant kan zijn voor het uitvoeren van deze activiteit.Gerelateerde activiteiten kunnen van hetzelfde type zijn, bijvoorbeeld twee milieubelastende activiteiten, maar dat hoeft niet.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element ref="rol-ref:ActiviteitRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="geldtVoor" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Deze specifieke activiteit is toegekend aan deze specifieke locatie(s).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="l-ref:LocatieRef"/>
						<xs:element ref="l-ref:GebiedRef"/>
						<xs:element ref="l-ref:LocatieGroepRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute ref="rkow:regeltekstId"/>
	</xs:complexType>
	<xs:element name="Beperkingengebied" type="rol:Beperkingengebied" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een beperkingengebied is een bij of krachtens de wet aangewezen gebied, waar vanwege de aanwezigheid van een werk of object regels gelden, ten aanzien van het beperken van activiteiten die gevolgen hebben of kunnen hebben voor dat werk of object.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Beperkingengebied" abstract="false">
		<xs:sequence>
			<xs:element name="identificatie" type="da:Identificatie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De unieke identificatie waaronder elk object van dit type bekend is. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="naam" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een (korte) omschrijving van het beperkingengebied. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\S.*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="categorie" type="rol:Beperkingengebiedgroep" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een beperkingengebied kan gecategoriseerd worden tot een beperkte lijst van beperkingengebiedgroepen. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beperkt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Dit specifieke beperkingengebied is toegekend aan deze specifieke locatie(s).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="l-ref:LocatieRef"/>
						<xs:element ref="l-ref:GebiedRef"/>
						<xs:element ref="l-ref:LocatieGroepRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attribute ref="rkow:regeltekstId"/>
	</xs:complexType>
	<xs:element name="Referentielijn" type="rol:Referentielijn" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een specifieke datatype voor het vastleggen van een referentielijn.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Referentielijn" abstract="false">
		<xs:sequence>
			<xs:element name="geometrie" type="gml:CurvePropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een geometrische lijn , conform geometrie standaarden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hoogte" type="da:WaardeEenheid" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De hoogte waarop de geometrie ligt, in meters. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Referentiepunt" type="rol:Referentiepunt" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een specifieke datatype voor het vastleggen van een referentiepunt. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Referentiepunt" abstract="false">
		<xs:sequence>
			<xs:element name="geometrie" type="gml:PointPropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een geometrisch punt, conform geometrie standaarden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hoogte" type="da:WaardeEenheid" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De hoogte waarop de geometrie ligt, in meters.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Activiteitengroep">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een uitbreidbare lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Beperkingengebiedgroep">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een uitbreidbare lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Functiegroep">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een uitbreidbare lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Omgevingsnormgroep">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een uitbreidbare lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Omgevingswaardegroep">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een uitbreidbare lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Verplichtingsoort">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een uitbreidbare lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
