CIMOW/xsd 0.9.7.1/IMOW/regels/v20190301/IMOW_Regel_v0_9_7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:r="http://www.geostandaarden.nl/imow/regels/v20190301" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:imvert="http://www.imvertor.org/schema/system" xmlns:da="http://www.geostandaarden.nl/imow/datatypenalgemeen/v20190301" xmlns:rol-ref="http://www.geostandaarden.nl/imow/regelsoplocatie-ref/v20190301" xmlns:l-ref="http://www.geostandaarden.nl/imow/locatie-ref/v20190301" xmlns:r-ref="http://www.geostandaarden.nl/imow/regels-ref/v20190301" xmlns:rkop="https://www.geostandaarden.nl/imow/regeltekstkoppelingop/v20190301" targetNamespace="http://www.geostandaarden.nl/imow/regels/v20190301" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.9.7-1">
	<xs:annotation>
		<xs:appinfo source="http://www.imvertor.org/schema-info/uri">http://www.geostandaarden.nl/imow/regels</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/version">0.9.7</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/phase">1</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/release">20190301</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/generated">2019-04-15T14:16:04Z</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/generator">1.52.4</xs:appinfo>
		<xs:appinfo source="http://www.imvertor.org/schema-info/owner">Kadaster</xs:appinfo>
		<xs:documentation source="http://www.imvertor.org/schema-info/file-location">IMOW/regels/v20190301/IMOW_Regel_v0_9_7.xsd</xs:documentation>
		<xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
		<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Juridische regels in het domein van de omgevingswet t.b.v. digitaal stelsel omgevingswet. </xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.geostandaarden.nl/imow/datatypenalgemeen/v20190301" schemaLocation="../../../IMOW/datatypenalgemeen/v20190301/IMOW_DatatypenAlgemeen_v0_9_7.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/regelsoplocatie-ref/v20190301" schemaLocation="../../../IMOW/regelsoplocatie-ref/v20190301/IMOW_RegelsOpLocatieRef_v0_9.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/locatie-ref/v20190301" schemaLocation="../../../IMOW/locatie-ref/v20190301/IMOW_LocatieRef_v0_9.xsd"/>
	<xs:import namespace="http://www.geostandaarden.nl/imow/regels-ref/v20190301" schemaLocation="../../../IMOW/regels-ref/v20190301/IMOW_RegelRef_v0_9.xsd"/>
	<xs:import namespace="https://www.geostandaarden.nl/imow/regeltekstkoppelingop/v20190301" schemaLocation="../../regeltekstkoppelingop/20190301/IMOW_RegeltekstkoppelingOP_v0_9_7.xsd"/>
	<xs:element name="JuridischeRegel" type="r:JuridischeRegel" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De beschrijving van een regel met juridische werkingskracht. Een regel betreft binnen de Omgevingswet veelal activiteiten, en/of normen en/of functies en/of beperkingengebieden.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="JuridischeRegel" abstract="false">
		<xs:sequence>
			<xs:element name="regelkwalificatie" type="r:RegelkwalificatieKeuze" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Het soort regel waartoe de juridische regel behoort. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="normadressaat" type="r:Normadressaat" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Het bestuursorgaan dat, of de organisatie die de taak of de bevoegdheid waarover de juridische regel gaat, moet uitvoeren.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="thema" type="r:Thema" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Kernachtige weergave van de grondgedachte achter een regel. Een thema kent geen locatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="onderwerp" type="r:Onderwerp" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Korte, concrete inhoudelijke weergave van waar een regel over gaat. Het onderwerp is een categorie, of groep, waaronder een juridische regel valt. Een onderwerp kent een locatie.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="beschrijftEenFunctie" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Bij een regel die een functie vastlegt geeft deze relatie aan om welke functie het gaat. De bijbehorende locatie(s) waar het om gaat is/zijn bij de functie zelf te vinden.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="rol-ref:FunctieRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="beschrijftEenActiviteit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Bij een regel die een activiteit vastlegt geeft deze relatie aan om welke activiteit het gaat. De bijbehorende locatie(s) waar het om gaat is/zijn bij de activiteit zelf te vinden.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="rol-ref:ActiviteitRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="beschrijftEenNorm" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Bij een regel die een omgevingsnorm of omgevingswaarde vastlegt geeft deze relatie aan om welke norm het gaat. De bijbehorende locatie(s) waar het om gaat is/zijn bij de normwaardes van de norm zelf te vinden.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="rol-ref:NormRef"/>
						<xs:element ref="rol-ref:OmgevingsnormRef"/>
						<xs:element ref="rol-ref:OmgevingswaardeRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="beschrijftEenBeperkingengebied" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Bij een regel die een beperkingengebied vastlegt geeft deze relatie aan om welk beperkingengebied het gaat. De bijbehorende locatie(s) waar het om gaat is/zijn bij het beperkingengebied zelf te vinden.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="unbounded">
						<xs:element ref="rol-ref:BeperkingengebiedRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="heeftAlsWerkingsgebied">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Het werkingsgebied begrenst de juridische werking van de regel in juridische zin, te weten dat de regel alleen binnen dit werkingsgebied werkingskracht heeft. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice maxOccurs="unbounded">
						<xs:element ref="l-ref:LocatieRef"/>
						<xs:element ref="l-ref:GebiedRef"/>
						<xs:element ref="l-ref:LocatieGroepRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="isOpgenomenIn" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element ref="r-ref:RegeltekstRef"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Regeltekst" type="r:Regeltekst" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een Regeltekst is de kleinste zelfstandige eenheid van (een of meer) bij elkaar behorende juridische regels. Deze regels horen onlosmakelijk bij elkaar en hebben gezamenlijk één werkingsgebied.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Regeltekst" abstract="false">
		<xs:sequence>
			<xs:element name="identificatie" type="da:Identificatie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De unieke identificatie waaronder elk object van dit type bekend is.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
		<xs:attributeGroup ref="rkop:juridischebron"/>
	</xs:complexType>
	<xs:element name="RegelkwalificatieKeuze" type="r:RegelkwalificatieKeuze" abstract="false">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een keuze mogelijkheid. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RegelkwalificatieKeuze" abstract="false">
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="regelKwalificatie" type="r:Regelkwalificatie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Keuze mogelijkheid voor regels (die niet over een activiteit gaan).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regelActiviteitKwalificatie" type="r:KwalificatieActiviteitRegel" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Keuze mogelijkheid voor regels die over een activiteit gaan.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Onderwerp">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een uitbreidbare lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Thema">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een limitatieve lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Normadressaat">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KwalificatieActiviteitRegel">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een limitatieve lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Regelkwalificatie">
		<xs:annotation>
			<xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een limitatieve lijst met een opsomming van de mogelijke domeinwaarden van een attribuutsoort, die buiten het model in een externe waardenlijst worden beheerd. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\S.*"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
